.fcfm {
  height: 600px;
  width: auto;
}

.building {
  height: 500px;
  width: auto;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}